.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
}

.field-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
/* Estiliza o IMaskInput como um input normal */
input[mask] {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-error {
  border-color: red;
  outline: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  color: black;
}

hr {
  margin: 30px 0;
}